{% extends "main_layout.html" %}
{% block main %}
    <ul class="collection">
    {% for problem in problems %}
            <li class="collection-item avatar">
                <a href="{{ url_for('problem_solving', problem_id=problem.id) }}" class="black-text">
                <i class="material-icons circle">folder</i>
                <span class="title">{{ problem.title }}</span>
                <p>Attempted {{ problem.attempts }}
                <br>Successful submission {{ problem.successful_submission }}
                <br>{{ problem.difficultyLevel }}
                </p>
            </a>
            </li>
    {% endfor %}
    </ul>
{% endblock %}
