.code-accepted {
    color: green;
}

.code-wrong {
    color: red;
}

.code-time-limit {
    color: blue
}

.code-compile-error {
    color: #DADA20;
}

.code-server-error {
    color: #66d9ef;
}

.hidden{
    visibility: hidden;
}