<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/gahan-styles.css')}}">
</head>
<body style="height">
    <!-- navigation bar-->
    <nav class="blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">&lt;CodePro&gt;</a>
        </div>
    </nav>
    <br>

    <!-- Registration Page -->
    <div class="container">
        <h4>
            Registration Form
        </h4><hr><br>
        <div class="row">
            <form class="col s12" action='{{url_for('register')}}' method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">toc</i>
                        <input id="reg_no" type="number" class="validate" name="registrationNumber">
                        <label for="reg_no">Registration Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate" name="firstName">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="lastName">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">input</i>
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">call</i>
                        <input id="contact_no" type="number" class="validate" name="contactNo">
                        <label for="contact">Contact number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="branch">
                            <option value="" disabled selected>Branch</option>
                            <option value="1">Computer Science And Engineering</option>
                            <option value="2">Information Technology</option>
                            <option value="3">Software Engineering</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Profile Pic</span>
                            <input type="file" name="profilePic">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect right" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br><br><br><br>

    <!-- Footer -->
    <footer class="page-footer blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                &copy; 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        $('select').material_select();
    });

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    </script>
</body>
</html>
