{% extends 'admin/master.html' %}

{% block body %}
    <h1>Welcome admin</h1>
    To perform CRUD operations please use any
    of the database from navigation bar.
    <div class="row">
        <div class="col-sm-2"> Total Number of users:</div>
        <div class="col-sm-10">{{ count_user }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2"> Total Number of problems:</div>
        <div class="col-sm-10">{{ count_problem }}</div>
    </div>
    <div class="row">
        <div class="col-sm-2"> Total Number of solution:</div>
        <div class="col-sm-10">{{ count_solution }}</div>
    </div>
{% endblock %}
